<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    .card {

        text-align: center;
        background-color: aqua;

    }

    h4 {
        color:red
    }

    p {
        color:blue
    }


    </style>


</head>
<body>
    <div class="card">
        <img src="C:\Users\Malvin\Documents\CSUI 23\kambing-ku\static\image\logo_kambing.png" alt="Avatar" style="width: 50px">
        <div class="Container">
          <h4><b>Card</b></h4>
          <p>Deskripsi :</p>
        </div>
      </div>
</body>
</html>