{% extends 'base.html' %}
{% load static %}  <!-- Memastikan tag static dimuat -->

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="relative min-h-screen flex items-center justify-center w-screen bg-white py-12 px-4 sm:px-6 lg:px-8">
  <!-- Video Background -->
  <video autoplay muted loop class="absolute inset-0 object-cover w-full h-full z-0">
    <source src="{% static 'videos/video_kambing_login_background.mp4' %}" type="video/mp4"> <!-- Pastikan path benar -->
    Your browser does not support the video tag.
  </video>

  <div class="max-w-md w-full space-y-8 shadow-lg rounded-lg p-8 bg-white bg-opacity-80 z-10">
    <div class="text-center">
      <!-- Logo Image -->
      <img src="{% static 'image/logo_kambing.png' %}" alt="Logo Kambing" class="mx-auto w-20 h-20"> <!-- Sesuaikan ukuran sesuai kebutuhan -->
      
      <h2 class="mt-6 text-center text-black text-3xl font-extrabold">
        Login to your account
      </h2>
      <p class="text-center text-lg text-black">Welcome Back! Please log in to your account.</p>
    </div>
    <form class="mt-8 space-y-6" method="POST" action="">
      {% csrf_token %}
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div class="relative">
          <label for="username" class="sr-only">Username</label>
          <svg class="absolute left-3 top-2 w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12c0-4.418-3.582-8-8-8S0 7.582 0 12s3.582 8 8 8 8-3.582 8-8z"></path>
          </svg>
          <input id="username" name="username" type="text" required class="appearance-none rounded-none relative block w-full px-10 py-2 border border-gray-300 placeholder-gray-500 text-black rounded-t-md focus:outline-none focus:ring-black focus:border-black focus:z-10 sm:text-sm" placeholder="Username">
        </div>
        <div class="relative">
          <label for="password" class="sr-only">Password</label>
          <svg class="absolute left-3 top-2 w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V6a1 1 0 00-1-1H8a1 1 0 00-1 1v4m8 0H8m4 4v4m0-4v-4m0 0a1 1 0 00-1-1H8a1 1 0 00-1 1v4m4-4v-4"></path>
          </svg>
          <input id="password" name="password" type="password" required class="appearance-none rounded-none relative block w-full px-10 py-2 border border-gray-300 placeholder-gray-500 text-black rounded-b-md focus:outline-none focus:ring-black focus:border-black focus:z-10 sm:text-sm" placeholder="Password">
        </div>
      </div>

      <div>
        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-gray-700 transition duration-300 ease-in-out">
          Sign in
        </button>
      </div>
    </form>

    {% if messages %}
    <div class="mt-4">
      {% for message in messages %}
      {% if message.tags == "success" %}
            <div class="bg-gray-100 border border-gray-400 text-gray-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">{{ message }}</span>
            </div>
        {% elif message.tags == "error" %}
            <div class="bg-gray-100 border border-gray-400 text-gray-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">{{ message }}</span>
            </div>
        {% else %}
            <div class="bg-gray-100 border border-gray-400 text-gray-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">{{ message }}</span>
            </div>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    <div class="text-center mt-4">
      <p class="text-sm text-black">
        Don't have an account yet?
        <a href="{% url 'main:register' %}" class="font-medium text-black hover:text-gray-700">
          Register Now
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}
