{% extends 'base.html' %}
{% block content %}
<h1>KambingKu</h1>
<h5>Nama Aplikasi: </h5>
<p>{{ Nama_Aplikasi }}<p>
<h5>Name: </h5>
<p>{{ Name }}<p>
<h5>Class: </h5>
<p>{{ Class }}<p>
    {% if not kambing_entries %}
    <p>Belum ada data kambing pada KambingKu.</p>
    {% else %}
    <table>
      <tr>
        <th>Kambing Name</th>
        <th>Time</th>
        <th>Kambing Price</th>
        <th>Description</th>
      </tr>
    
      {% comment %} Berikut cara memperlihatkan data kambing di bawah baris ini 
      {% endcomment %} 
      {% for kambing_entry in kambing_entries %}
      <tr>
        <td>{{kambing_entry.name}}</td>
        <td>{{kambing_entry.time}}</td>
        <td>{{kambing_entry.price}}</td>
        <td>{{kambing_entry.description}}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    
    <br />
    
    <a href="{% url 'main:create_kambing_entry' %}">
      <button>Add New Kambing Entry</button>
    </a>
{% endblock content %}
